*{
    font-family: "Open Sans", Helvetica, sans-serif; 
}

body{
    padding-bottom: 60px;
}

.codeTitle{
    text-align: center;
    margin-top: 30px;
}

#timer{
    text-align: left;
}
@media (min-width: 768px){
    #timer{
        text-align: right;
    }
}

.question{
    display: none;
}

.card {
    background-color: hsl(0, 0%, 100%);
    border-radius: 5px;
    border-width: 1px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
    font-size: 18px;
    margin: 0 auto;
    max-width: 800px;
    padding: 30px 40px;
  }

  .card-header{
      background-color: hsl(0, 0%, 100%);
      text-align: center;
  }

  .card-footer{
    background-color: hsl(0, 0%, 100%);
    text-align: center;
    height: 75px;
    margin-top: 10px;
  }

  .answers{
    display: grid;
    width: 75px;
    gap: 5px;
  }

  .toHome{
    text-align: center;
    margin-top: 10px;
  }

  #listItem{
      max-width: 500px;
      background-color: white;
      margin: 0 auto;
      margin-top: 5px;
  }

  .btn {
    border: solid 2px hsl(300, 100%, 33%);
    background-color: hsl(300, 100%, 33%);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px
      0px;
    color: hsl(0, 0%, 100%);
    font-size: 22px;
    line-height: 22px;
    padding: 14px 34px;
    text-align: center;
    cursor: pointer;
  }

  .start {
    margin: 16px 16px 16px 20px;
  }

  .answer {
    padding: 5px 20px;
  }

  .submit{
    font-size: 20px;
    height: 38px;
    padding: 7px 10px;
  }

  .home{
    padding: 5px 20px;
  }

  .btn:hover{
      border: solid 2px;
      border-color: black;
      color: hsl(0, 0%, 100%);
  }

  button[disabled] {
    cursor: default;
    background: #c0c7cf;
  }

  .inputScore{
    text-align: center;
  }

  .yourScore{
    margin: 0 auto;
    max-width: 500px;
}

.myFooter{
    -webkit-animation: cyclecolors linear;
    -webkit-animation-duration: 90s;
    -webkit-animation-iteration-count: infinite;
    animation: cyclecolors;
    animation-duration: 90s;
    animation-iteration-count: infinite;
    font-family: "Open Sans", Helvetica, sans-serif;
    color: white;
    padding-top: 5px;
    height: 50px;
    background-color: hsl(300, 100%, 33%);
}

@keyframes cyclecolors{
0% {
    background-color: hsl(300, 100%, 33%);
}
16% {
    background-color: hsl(212, 100%, 49%);
}
32% {
    background-color: hsl(130, 100%, 33%);
}
48% {
    background-color: #fdc345;
}
64% {
    background-color: #f89438;
}
96% {
    background-color: #e65453;
}
}